<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Hello, world!</title>
    <link rel="stylesheet" href="./public/stylesheet/style.css">
    <!-- <link rel="stylesheet" href="reset.css"> -->
</head>

<body>
    <div class="container-sm text-center justify-content-center ">
        <h2 class="header"> To-Do List </h2>
        <div class="todo-form">
            <form action="" class="form d-inline-flex" method="POST">

                <input type="text" name="content" placeholder=" to-do ....">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-plus"></i>
                </button>
            </form>
        </div>
        <div class="todo-list justify-content-center text-center ">
            <ul class="todo-list">
                <% todo.forEach( details => { %>
                <% if (details._id == id ) { %>
                <li class="list-item">
                    <form action="/edit/<%= details._id%>?_method=UPDATE" method="POST">
                        <input type="text" value="<%= details.content %>" name="content">
                        <button type="submit">Confirm</button>
                        <a href="/" class="cancel">Cancel</a>
                    </form>
                </li>
                <% } else { %>
                <li class="list-item">
                    <div class="list-item-name"><%= details.content %></div>
                    <a href="/edit/<%= details._id %>" class="edit"> <span class="fas fa-edit"></span>
                    </a>
                    <a href="/remove/<%= details._id %>" class="remove"> <span class="fas fa-times"></span>
                    </a>
                </li>
                <% } %>
                <% }) %>
            </ul>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="../index.js"></script>
</body>

</html>